

<section class="container">
  <br>
  <br>
  <br>
  <br>

<h1 class="title"> Usuarios da API WEB </h1>
<div class="example-button-row">

    <button mat-raised-button color="primary" routerLink= '/usuarios'>USUARIOS</button>

    <button mat-raised-button color="accent" routerLink= '/posts'>POSTS</button>
  </div>
</section>

<section class="alineacion" style="text-align: center;">
<div>
  <h4> JSONPlaceholder é uma API REST online gratuita que você pode usar sempre que precisar de alguns dados falsos.
    É ótimo para tutoriais, teste de novas bibliotecas, compartilhamento de exemplos de código, ... </h4>
    <br>
    <h3> Se você clicar em usuários, será direcionado para a lista disponível de usuários da API</h3>
    <br>
    <h3> Se você clicar em posts, será direcionado para a lista disponível de posts da API</h3>
    <br>
    <p>JSONPlaceholder vem com um conjunto de 6 recursos comuns:</p>

    <ul style="list-style: none;">
      <li>users	10 users</li>
      <li> posts	100 posts</li>
      <li>comments	500 comments</li>
      <li>albums	100 albums</li>
      <li>photos	5000 photos</li>
      <li>todos	200 todos</li>
      </ul>

      <p>Para este exercício, componentes e serviços são criados para habilitar as APIs em nosso aplicativo.
        Foram definidas as rotas e a integração lógica das mesmas.</p>
      <h1>Toters: Tu enfoque determina tu realidad.-Qui-Gon Jinn </h1>
      <h2>Lembre-se sempre, o seu foco determina a sua realidade.
        Qui-Gon Jinn , Episódio I - A Ameaça Fantasma (1999).</h2>
      <h4><br>Informações coladas da Internet. Eu não sei nada sobre StarWars</h4>
</div>
</section>












